In [2]:
import numpy as np
import pandas as pd

In [5]:
from datetime import datetime
now = datetime.now()
datetime(2023, 4, 12, 13, 9, 16, 484533)
(2023, 4, 12)

(2023, 4, 12)

Devuelve la diferencia entre dos fechas

In [10]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)

926 days, 15:45:00

In [11]:
from datetime import timedelta
start = datetime(2011, 1, 7)
print(start + timedelta(12))
print(start - 2 * timedelta(12))

2011-01-19 00:00:00
2010-12-14 00:00:00

In [17]:
stamp = datetime(2011, 1, 3)

print(str(stamp))
print(stamp.strftime("%Y-%m-%d"))

2011-01-03 00:00:00
2011-01-03

In [18]:
value = "2011-01-03"

print(datetime.strptime(value, "%Y-%m-%d"))

datestrs = ["7/6/2011", "8/6/2011"]

[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

2011-01-03 00:00:00

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]

pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [20]:
idx = pd.to_datetime(datestrs + [None])

print(idx)

print(idx[2])

print(pd.isna(idx))

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)
NaT
[False False  True]