In [23]:
import pathlib


path = str(pathlib.Path().parent)+"/"

In [24]:
import pandas as pd


df = pd.read_csv(path+'travel-times.csv')
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

# 1.Calcula o Delta (StartTime + TotalTime).

In [25]:
import datetime

df['EndTime']=(pd.to_datetime(df['StartTime'],format="%H:%M")+pd.to_timedelta(df['TotalTime'],'m')).dt.strftime("%H:%M")
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,EndTime
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN,17:16
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN,08:57
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN,16:54
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN,08:32
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN,19:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN,09:14
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN,08:43
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN,18:02
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN,18:42
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN,17:45

# 2.Agrupa por dÃ­a da semana e indica a media que lle leva chegar (TotalTime) por dÃ­a da semana.

In [26]:
df.groupby('DayOfWeek')['TotalTime'].mean()

DayOfWeek
Friday       37.922222
Monday       43.197436
Thursday     41.177273
Tuesday      42.520833
Wednesday    43.170213
Name: TotalTime, dtype: float64

In [27]:
#!pip install tabulate

# 3.Fai un delta (diferencia) entre o TotalTime e o MovingTime. Indica cal foi o dÃ­a con maior diferencia e o de menor diferencia.

In [28]:
import numpy as np
from pandas import timedelta_range
from tabulate import tabulate

df['Delta']=df['TotalTime']-df['MovingTime']
print("MENOR DIFERENCIA:",tabulate(df[df['Delta']==df['Delta'].min()], headers='keys', tablefmt='psql'))
print("MAYOR DIFERENCIA:",tabulate(df[df['Delta']==df['Delta'].max()], headers='keys', tablefmt='psql'))

MENOR DIFERENCIA: +-----+-----------+-------------+-------------+-----------+------------+------------+------------+------------------+---------------+-------------+--------------+--------------+------------+-----------+---------+
|     | Date      | StartTime   | DayOfWeek   | GoingTo   |   Distance |   MaxSpeed |   AvgSpeed |   AvgMovingSpeed |   FuelEconomy |   TotalTime |   MovingTime | Take407All   |   Comments | EndTime   |   Delta |
|-----+-----------+-------------+-------------+-----------+------------+------------+------------+------------------+---------------+-------------+--------------+--------------+------------+-----------+---------|
| 149 | 8/24/2011 | 16:47       | Wednesday   | Home      |      51.01 |      132.9 |       79.6 |             86.1 |          8.54 |        38.5 |         38.5 | No           |        nan | 17:25     |       0 |
+-----+-----------+-------------+-------------+-----------+------------+------------+------------+------------------+---------------+-------------+--------------+--------------+------------+-----------+---------+
MAYOR DIFERENCIA: +-----+-----------+-------------+-------------+-----------+------------+------------+------------+------------------+---------------+-------------+--------------+--------------+------------+-----------+---------+
|     | Date      | StartTime   | DayOfWeek   | GoingTo   |   Distance |   MaxSpeed |   AvgSpeed |   AvgMovingSpeed |   FuelEconomy |   TotalTime |   MovingTime | Take407All   |   Comments | EndTime   |   Delta |
|-----+-----------+-------------+-------------+-----------+------------+------------+------------+------------------+---------------+-------------+--------------+--------------+------------+-----------+---------|
| 200 | 7/18/2011 | 08:09       | Monday      | GSK       |      54.52 |      125.6 |       49.9 |             82.4 |          7.89 |        65.5 |         39.7 | No           |        nan | 09:14     |    25.8 |
+-----+-----------+-------------+-------------+-----------+------------+------------+------------+------------------+---------------+-------------+--------------+--------------+------------+-----------+---------+

# 4.Agrupa os datos por dÃ­a da semana collendo a media de tempo (o delta do apartado anterior) e indica o dÃ­a da semana de menor e maior diferencia.

In [29]:
agrupado=pd.DataFrame(df.groupby('DayOfWeek')['Delta'].mean())
print("MENOR DIFERENCIA MEDIA:",tabulate(agrupado[agrupado['Delta']==agrupado['Delta'].min()], headers='keys', tablefmt='psql'))
print("MAYOR DIFERENCIA MEDIA:",tabulate(agrupado[agrupado['Delta']==agrupado['Delta'].max()], headers='keys', tablefmt='psql'))

MENOR DIFERENCIA MEDIA: +-------------+---------+
| DayOfWeek   |   Delta |
|-------------+---------|
| Friday      | 2.80741 |
+-------------+---------+
MAYOR DIFERENCIA MEDIA: +-------------+---------+
| DayOfWeek   |   Delta |
|-------------+---------|
| Monday      | 5.05128 |
+-------------+---------+

# 5.Elimina as columnas na que mÃ¡is da metade dos valores sexan nulos.

In [30]:
df_nulos = df.isna().sum()
df = df.drop(columns=df_nulos[df_nulos>df.shape[0]/2].index)

# 6.Visualiza o nÃºmero de nulos de cada columna.

In [31]:
df.isnull().sum()

Date               0
StartTime          0
DayOfWeek          0
GoingTo            0
Distance           0
MaxSpeed           0
AvgSpeed           0
AvgMovingSpeed     0
FuelEconomy       17
TotalTime          0
MovingTime         0
Take407All         0
EndTime            0
Delta              0
dtype: int64

# 7.SubstitÃºe os valores nules empregando o valor da fila anterior (method='ffil').

In [32]:
#df = df.fillna(method='ffill')
df = df.ffill()
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,EndTime,Delta
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,17:16,3.0
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,08:57,3.0
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,16:54,1.6
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,08:32,4.2
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,19:33,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,09:14,25.8
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,08:43,8.0
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,7.89,54.2,40.6,Yes,18:02,13.6
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,7.89,51.9,36.5,Yes,18:42,15.4
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,7.89,49.5,33.6,Yes,17:45,15.9

# 8.Os primeiros valores son NaN, debemos corrixilo substituÃ­ndo estes valores polos anteriores (method='bfill').

In [33]:
df = df.bfill()
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,EndTime,Delta
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,-,39.3,36.3,No,17:16,3.0
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,-,37.9,34.9,No,08:57,3.0
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,-,37.5,35.9,No,16:54,1.6
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,-,39.8,35.6,No,08:32,4.2
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,-,36.8,34.8,No,19:33,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,09:14,25.8
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,08:43,8.0
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,7.89,54.2,40.6,Yes,18:02,13.6
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,7.89,51.9,36.5,Yes,18:42,15.4
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,7.89,49.5,33.6,Yes,17:45,15.9