In [23]:
import argparse
from enum import Enum
import sys
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.action_chains import ActionChains
import time
import random

In [24]:
#!conda install -y pip
#!conda install -y -c conda-forge selenium=4.16
#!pip install webdriver_manager

In [25]:
from webdriver_manager.firefox import GeckoDriverManager
GeckoDriverManager().install()

'C:\\Users\\diego.guizanlopez\\.wdm\\drivers\\geckodriver\\win64\\v0.34.0\\geckodriver.exe'

In [26]:
#Instalar gecko
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.firefox.service import Service


#Abrir un navegador
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Firefox()

In [27]:
URL="https://cpu.userbenchmark.com/"

In [28]:

def waitFinishLoad(driver,idLoader,needsDisapeared=False,by=By.ID,needsWait=True):
    """Espera a la carga de un elemento antes de continuar

    Args:
        driver (WebDriver): WebDriver
        idLoader (str): Id a buscar, puede ser XPath...
        needsDisapeared (bool, optional): Si el elemento a esperar tiene que aparecer o desaparecer como un CircularProgress. Defaults to False.
        by (str, optional): Tipo de By a buscar el Wait. Defaults to By.ID.
        needsWait (bool, optional): Si necesita esperar un extra para que no pueda saltar un Captcha. Defaults to False.
    """
    if idLoader is None:
        return
    WebDriverWait(driver, timeout=60).until(EC.presence_of_element_located((by, idLoader)))
    if needsDisapeared:
        WebDriverWait(driver, timeout=60).until(EC.invisibility_of_element((by, idLoader)))
    if needsWait:
        time.sleep(random.choice([0.05,0.1,0.2]))

def elementBy(query,driver,**kargs):
    """Devuelve un element|None dependiendo de la consulta

    Args:
        query (str): Busqueda a realizar del elemento
        driver (WebDriver): WebDriver

    Returns:
        Element|None: Elemento de la búsqueda
    """
    if not kargs.get("needsWait",False):
        waitFinishLoad(driver,kargs.get("idLoader",None),by=kargs.get("by",By.ID),needsWait=kargs.get("needsWait",False))
    element=driver.find_element(kargs.get("by",By.XPATH),query)
    waitFinishLoad(driver,kargs.get("idLoader",None),by=kargs.get("by",By.ID),needsWait=kargs.get("needsWait",False))
    return element

def clickEvent(driver,element,**kargs):
    """Click en un elemento que funciona con evento

    Args:
        driver (WebDriver): WebDriver
        element (Element): Elemento que tiene el evento
    """
    if not kargs.get("needsWait",False):
        waitFinishLoad(driver,kargs.get("idLoader",None),by=kargs.get("by",By.ID),needsWait=kargs.get("needsWait",False))
    if kargs.get("normal",False):
        element.click
    else:
        try:
            driver.execute_script(element.get_dom_attribute("onClick"))
        except:
            element.click
    waitFinishLoad(driver,kargs.get("idLoader",None),by=kargs.get("by",By.ID),needsWait=kargs.get("needsWait",False))

# endregion

In [29]:
driver.get(URL)

In [30]:
elementBy("//*[contains(text(),'I understand')]",driver,idLoader="//*[contains(text(),'I understand')]",by=By.XPATH,needsWait=True).click()

In [33]:
from io import StringIO
import pandas as pd
from bs4 import BeautifulSoup
import re

column_names = ["Name","User rating %","Value %","Avg. Bench %", "Memory Pts", "8-Core Pts","Mkt. share %","Age months", "Price €"]
dfT=pd.DataFrame([],columns=column_names)
while True:
    try:
        nextB=elementBy("//*[contains(text(),'Next »')]",driver,idLoader="//*[contains(text(),'Next »')]",by=By.XPATH,needsWait=True)
    except:
        break
    soup=BeautifulSoup(driver.page_source,'html.parser')
    table=soup.findAll("table")[1]
    # Eliminar los números de ranking
    rows = table.find_all('tr')
    rowsL=[]
    for row in rows:
        cells = row.find_all('td')
        cellValues=[]
        for index,cell in enumerate(cells):
            if index == 0:
                continue
            if index==1:
                cellValues.append(cell.find_all("span")[0].text.replace("Compare","").split("\t")[-1].replace("\n",""))
            else:
                try:
                    if index == 4:
                        cellValues.append(cell.find_all("div")[0].text.split("\t")[-1].replace("\n","").replace(cell.find_all("div")[0].find("div").find("div").text,""))
                        continue
                    if len(cell.find_all("div"))==0:
                        cellValues.append(0)
                    cellValues.append(cell.find_all("div")[0].text.split("\t")[-1].replace("\n",""))
                except:
                    None
        rowsL.append(cellValues)

    df = pd.DataFrame(columns=column_names,data=rowsL)
    dfT=pd.concat([dfT,df])
    page=elementBy("//*[contains(text(),'Page ')]",driver,idLoader="//*[contains(text(),'Page ')]",by=By.XPATH,needsWait=True)
    nextB=elementBy("//*[contains(text(),'Next »')]",driver,idLoader="//*[contains(text(),'Next »')]",by=By.XPATH,needsWait=True)
    nextB.click()
    waitFinishLoad(driver,idLoader=f"//*[contains(text(),'Page {int(page.text.split(' ')[1])+1}')]",by=By.XPATH)

In [43]:
dfT['none_count'] = df.apply(lambda x:x.isnull().sum(), axis=1)

# Elimina las filas que tienen más de 3 valores None
dfT = dfT[dfT['none_count'] <= 3]

dfT.drop(columns=["none_count"],inplace=True)

dfT

,Name,User rating %,Value %,Avg. Bench %,Memory Pts,8-Core Pts,Mkt. share %,Age months,Price €,fecha,cuartil,año,Q_año
1,Intel Core i5-13600K,103,112,122,83.9,1454,0.52,18,321,2022-10-30 16:14:37.024343,Q4,2022,Q4 2022
2,Intel Core i5-12600K,98,114,109,80,1223,0.8,29,204,2021-12-04 16:14:37.024343,Q4,2021,Q4 2021
3,Intel Core i5-12400F,98,115,98,81.6,974,1.87,27,135,2022-02-02 16:14:37.024343,Q1,2022,Q1 2022
4,Intel Core i3-12100F,97,121,94.1,83.8,788,0.42,27,97,2022-02-02 16:14:37.024343,Q1,2022,Q1 2022
5,Intel Core i5-13600KF,96,116,122,84.2,1443,0.67,18,287,2022-10-30 16:14:37.024343,Q4,2022,Q4 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Intel Celeron G3950,50,0.0,56.2,82.4,178,0,85,NaN,2017-04-29 16:14:37.024343,Q2,2017,Q2 2017
47,Intel Core i9-9960X,50,0.0,84.9,76.6,988,0,64,NaN,2019-01-19 16:14:37.024343,Q1,2019,Q1 2019
48,Intel Core i7 975,50,0.0,72.4,91.7,408,0,124,NaN,2014-02-14 16:14:37.024343,Q1,2014,Q1 2014
49,Intel Core2 4400,50,0.0,33.1,59.7,40.9,0,122,NaN,2014-04-15 16:14:37.024343,Q2,2014,Q2 2014
50,Intel Core2 Duo E4400,50,0.0,33.3,60.1,41.3,0,122,NaN,2014-04-15 16:14:37.024343,Q2,2014,Q2 2014

In [44]:
import os
import pathlib

#for i in dfT.columns:
#    dfT[i] = dfT[i].str.replace("th","")
#    dfT[i] = dfT[i].str.replace("nd","")
#    dfT[i] = dfT[i].str.replace("rd","")
#    dfT[i] = dfT[i].str.replace("st","")
dfT['Name'] = dfT['Name'].str.replace("Compare  ","").str.split("Samples").str[0]
#dfT['Avg. bench  %'] = dfT['Avg. bench  %'].str[:-3]
dfT['User rating %'] = dfT['User rating %'].str.replace("▼","").str.replace("▲","")

In [45]:
dfL=dfT.copy(deep=True)

In [46]:
dfT=dfL
dfT

,Name,User rating %,Value %,Avg. Bench %,Memory Pts,8-Core Pts,Mkt. share %,Age months,Price €,fecha,cuartil,año,Q_año
1,Intel Core i5-13600K,103,112,122,83.9,1454,0.52,18,321,2022-10-30 16:14:37.024343,Q4,2022,Q4 2022
2,Intel Core i5-12600K,98,114,109,80,1223,0.8,29,204,2021-12-04 16:14:37.024343,Q4,2021,Q4 2021
3,Intel Core i5-12400F,98,115,98,81.6,974,1.87,27,135,2022-02-02 16:14:37.024343,Q1,2022,Q1 2022
4,Intel Core i3-12100F,97,121,94.1,83.8,788,0.42,27,97,2022-02-02 16:14:37.024343,Q1,2022,Q1 2022
5,Intel Core i5-13600KF,96,116,122,84.2,1443,0.67,18,287,2022-10-30 16:14:37.024343,Q4,2022,Q4 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Intel Celeron G3950,50,0.0,56.2,82.4,178,0,85,NaN,2017-04-29 16:14:37.024343,Q2,2017,Q2 2017
47,Intel Core i9-9960X,50,0.0,84.9,76.6,988,0,64,NaN,2019-01-19 16:14:37.024343,Q1,2019,Q1 2019
48,Intel Core i7 975,50,0.0,72.4,91.7,408,0,124,NaN,2014-02-14 16:14:37.024343,Q1,2014,Q1 2014
49,Intel Core2 4400,50,0.0,33.1,59.7,40.9,0,122,NaN,2014-04-15 16:14:37.024343,Q2,2014,Q2 2014
50,Intel Core2 Duo E4400,50,0.0,33.3,60.1,41.3,0,122,NaN,2014-04-15 16:14:37.024343,Q2,2014,Q2 2014

In [47]:
from datetime import datetime, timedelta

import pandas as pd

# Supongamos que tu dataframe se llama df y la columna con los meses se llama 'meses'

dfT['Age months'] = dfT['Age months'].replace('\+$', '', regex=True)
# Convertir la columna 'months' a numérico
dfT['Age months'] = pd.to_numeric(dfT['Age months'])

dfT['Age months'] = dfT['Age months'].fillna(0)

# Fecha de inicio es la fecha actual
fecha_inicio = datetime.now()

# Calcula la fecha del evento basado en 'Age months'
dfT['fecha'] = dfT['Age months'].apply(lambda x: fecha_inicio - timedelta(days=int(x)*30))

# Luego, determinamos el cuartil del año
dfT['cuartil'] = pd.cut(dfT['fecha'].dt.dayofyear, bins=[0, 91, 182, 273, 365], labels=['Q1', 'Q2', 'Q3', 'Q4'], include_lowest=True)

# Calcula el año del evento
dfT['año'] = dfT['fecha'].dt.year

# Finalmente, creamos la columna 'Q_año' combinando 'cuartil' y 'año'
dfT['Q_año'] = dfT['cuartil'].astype(str) + ' ' + dfT['año'].astype(str)

In [48]:
dfT["Price €"]=dfT["Price €"].str.replace("€","")

In [55]:
dfT=dfT.drop("fecha",axis=1)

In [56]:
dfT

,Name,User rating %,Value %,Avg. Bench %,Memory Pts,8-Core Pts,Mkt. share %,Age months,Price €,cuartil,año,Q_año
1,Intel Core i5-13600K,103,112,122,83.9,1454,0.52,18,321,Q4,2022,Q4 2022
2,Intel Core i5-12600K,98,114,109,80,1223,0.8,29,204,Q4,2021,Q4 2021
3,Intel Core i5-12400F,98,115,98,81.6,974,1.87,27,135,Q1,2022,Q1 2022
4,Intel Core i3-12100F,97,121,94.1,83.8,788,0.42,27,97,Q1,2022,Q1 2022
5,Intel Core i5-13600KF,96,116,122,84.2,1443,0.67,18,287,Q4,2022,Q4 2022
...,...,...,...,...,...,...,...,...,...,...,...,...
46,Intel Celeron G3950,50,0.0,56.2,82.4,178,0,85,NaN,Q2,2017,Q2 2017
47,Intel Core i9-9960X,50,0.0,84.9,76.6,988,0,64,NaN,Q1,2019,Q1 2019
48,Intel Core i7 975,50,0.0,72.4,91.7,408,0,124,NaN,Q1,2014,Q1 2014
49,Intel Core2 4400,50,0.0,33.1,59.7,40.9,0,122,NaN,Q2,2014,Q2 2014
50,Intel Core2 Duo E4400,50,0.0,33.3,60.1,41.3,0,122,NaN,Q2,2014,Q2 2014

In [50]:
#dfT.reset_index(drop=True, inplace=True)

In [59]:
dfT.astype(str).to_parquet(os.path.join(str(pathlib.Path().resolve()),"CPU.parquet"))

In [ ]:
dfT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 1 to 50
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           1400 non-null   object
 1   User rating %  1400 non-null   object
 2   Value %        1400 non-null   object
 3   Avg. Bench %   1400 non-null   object
 4   Memory Pts     1400 non-null   object
 5   8-Core Pts     1400 non-null   object
 6   Mkt. share %   1400 non-null   object
 7   Age months     1400 non-null   int64
 8   Price €        157 non-null    object
 9   fecha          1400 non-null   datetime64[ns]
 10  cuartil        1400 non-null   category
 11  año            1400 non-null   int32
 12  Q_año          1400 non-null   object
dtypes: category(1), datetime64[ns](1), int32(1), int64(1), object(9)
memory usage: 138.3+ KB