# **PANDAS**
Gestión de tablas con recogida de datos via URL

In [60]:
import numpy as np
import pandas as pd

In [61]:
s = pd.Series([10,12,12,13], index=["ventasA", "ventasB", "ventasC", "ventasD"], name="VENTAS")
s

ventasA    10
ventasB    12
ventasC    12
ventasD    13
Name: VENTAS, dtype: int64

In [62]:
s.index
s.values
s.dtype
s.astype(float)

ventasA    10.0
ventasB    12.0
ventasC    12.0
ventasD    13.0
Name: VENTAS, dtype: float64

In [63]:
s.iloc[1]
#s["ventasB"]
s.loc["ventasB"]
s.ventasB

12

In [64]:
s.head()
s.tail()

ventasA    10
ventasB    12
ventasC    12
ventasD    13
Name: VENTAS, dtype: int64

In [65]:
s > 11

ventasA    False
ventasB     True
ventasC     True
ventasD     True
Name: VENTAS, dtype: bool

In [66]:
s[s>11]

ventasB    12
ventasC    12
ventasD    13
Name: VENTAS, dtype: int64

In [67]:
s[s > 11] = s[s > 11] +10
s

ventasA    10
ventasB    22
ventasC    22
ventasD    23
Name: VENTAS, dtype: int64

In [68]:
s.value_counts()

VENTAS
22    2
10    1
23    1
Name: count, dtype: int64

In [69]:
s.unique()
s.mean()
s.std()
s.median()

22.0

In [70]:
df = pd.DataFrame({"A":[1,2,3], "B":[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [71]:
df = pd.DataFrame([{"A":1, "B":2, "C":3}, {"A":4, "B":5, "C":6}])
df

   A  B  C
0  1  2  3
1  4  5  6

In [82]:
dfl = pd.read_html("https://es.wikipedia.org/wiki/Canarias")    #RECUPERA LOS DATOS DE LA WIKI
dfl
df = dfl[9]     #RESTRINGE SOLO A 9 COLUMNAS
df

,Isla (excepto La Graciosa),Bandera,Escudo,Municipios,Capital,Área (km²),Población (2022)[18]​
0,El Hierro,NaN,NaN,3,Valverde,26871,11 423
1,Fuerteventura[nota 10]​,NaN,NaN,6,Puerto del Rosario,"1665,74[nota 11]​",120 021
2,Gran Canaria,NaN,NaN,21,Las Palmas de Gran Canaria,156010,853 262
3,La Gomera,NaN,NaN,6,San Sebastián de La Gomera,36976,21 798
4,Lanzarote[nota 12]​,NaN,NaN,7,Arrecife,"888,07[nota 13]​",156 112[nota 14]​
5,La Palma,NaN,NaN,14,Santa Cruz de La Palma,70832,83 439
6,Tenerife,NaN,NaN,31,Santa Cruz de Tenerife,203438,931 646

In [83]:
print(df.columns)   #DICE QUE COLUMNAS HAY
#df.drop(["Bandera", "Escudo"], axis=1, inplace=True)
df = df.drop(["Bandera", "Escudo"], axis=1)         #BORRA ESTAS COLUMNAS PARA QUE NO APAREZCAN
df.columns = ["Isla", "Municipios", "Capital", "Area", "Poblacion"]     #INDICA QUE COLUMNAS MOSTRAR
df

Index(['Isla (excepto La Graciosa)', 'Bandera', 'Escudo', 'Municipios',
       'Capital', 'Área (km²)', 'Población (2022)[18]​'],
      dtype='object')

,Isla,Municipios,Capital,Area,Poblacion
0,El Hierro,3,Valverde,26871,11 423
1,Fuerteventura[nota 10]​,6,Puerto del Rosario,"1665,74[nota 11]​",120 021
2,Gran Canaria,21,Las Palmas de Gran Canaria,156010,853 262
3,La Gomera,6,San Sebastián de La Gomera,36976,21 798
4,Lanzarote[nota 12]​,7,Arrecife,"888,07[nota 13]​",156 112[nota 14]​
5,La Palma,14,Santa Cruz de La Palma,70832,83 439
6,Tenerife,31,Santa Cruz de Tenerife,203438,931 646

In [84]:
df.columns = ["Isla", "Municipios", "Capital", "Area", "Poblacion"] #INDICA LAS COLUMNAS
#df[["Area", "Capital"]] #SE MUESTRAN SOLO ESAS DE LAS ANTERIOR SELECCIONADAS
df["Area"] = df["Area"].str.replace(",", ".")       #REMPLAZA LAS "," por "." en AREA
df["Area"] = df["Area"].str.extract(f"(^[.0-9]+)")  #LIMPIA LOS QUE NO TIENEN FORMATO CORRECTO
df["Area"] = df["Area"].astype(float)               #TRANSFORMA EL TIPO A FLOAT
df["Area"]

0     26871.00
1      1665.74
2    156010.00
3     36976.00
4       888.07
5     70832.00
6    203438.00
Name: Area, dtype: float64

In [85]:
df                                                  #ASÍ IRÍA EL FILTRADO DE DATOS POR LO DE AHORA APLICADO EL ÁREA
s=df.Poblacion.iloc[0]
print(s)
for i in s:
  print(ord(i))                                     #PARA SABER EL ORI CORE Y NOS VAMOS A LA TABLA ASCII

11 423
49
49
160
52
50
51

In [ ]:
df["Poblacion"] = df["Poblacion"].str.replace(chr(160), "").str.extract(f"(^[.0-9]+)").astype(float)  #REMPLAZAMOS EL CHARACTER 160 QUE ERA ESPACIO RARO POR NADA Y FORMATO PARA FILTRAR LO QUE NO CONTIENE 0-9

In [89]:
df["Isla"] = df["Isla"].str.extract(f"(^[^\[]+)")           #EXTRAEMOS TODA LA BASURA DE ISLA
df

            Isla  Municipios                     Capital       Area  Poblacion
0      El Hierro           3                    Valverde   26871.00    11423.0
1  Fuerteventura           6          Puerto del Rosario    1665.74   120021.0
2   Gran Canaria          21  Las Palmas de Gran Canaria  156010.00   853262.0
3      La Gomera           6  San Sebastián de La Gomera   36976.00    21798.0
4      Lanzarote           7                    Arrecife     888.07   156112.0
5       La Palma          14      Santa Cruz de La Palma   70832.00    83439.0
6       Tenerife          31      Santa Cruz de Tenerife  203438.00   931646.0