In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([10,12,12,13], index=["ventasA", "ventasB", "ventasC", "ventasD"], name="VENTAS")
s

ventasA    10
ventasB    12
ventasC    12
ventasD    13
Name: VENTAS, dtype: int64

In [3]:
s.index
s.values
s.dtype
s.astype(float)

ventasA    10.0
ventasB    12.0
ventasC    12.0
ventasD    13.0
Name: VENTAS, dtype: float64

In [4]:
s.iloc[1]
#s["ventasB"]
s.loc["ventasB"]
s.ventasB

12

In [5]:
s.head()
s.tail()

ventasA    10
ventasB    12
ventasC    12
ventasD    13
Name: VENTAS, dtype: int64

In [6]:
s > 11

ventasA    False
ventasB     True
ventasC     True
ventasD     True
Name: VENTAS, dtype: bool

In [7]:
s[s>11]

ventasB    12
ventasC    12
ventasD    13
Name: VENTAS, dtype: int64

In [8]:
s[s > 11] = s[s > 11] +10
s

ventasA    10
ventasB    22
ventasC    22
ventasD    23
Name: VENTAS, dtype: int64

In [9]:
s.value_counts()

VENTAS
22    2
10    1
23    1
Name: count, dtype: int64

In [10]:
s.unique()
s.mean()
s.std()
s.median()

22.0

In [4]:
df = pd.DataFrame({"A":[1,2,3], "B":[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [2]:
df = pd.DataFrame([{"A":1, "B":2, "C":3}, {"A":4, "B":5, "C":6}])
df

   A  B  C
0  1  2  3
1  4  5  6

In [4]:
dfl = pd.read_html("https://es.wikipedia.org/wiki/Canarias")
dfl
df = dfl[9]
df

,Isla (excepto La Graciosa),Bandera,Escudo,Municipios,Capital,Área (km²),Población (2022)[18]​
0,El Hierro,NaN,NaN,3,Valverde,26871,11 423
1,Fuerteventura[nota 10]​,NaN,NaN,6,Puerto del Rosario,"1665,74[nota 11]​",120 021
2,Gran Canaria,NaN,NaN,21,Las Palmas de Gran Canaria,156010,853 262
3,La Gomera,NaN,NaN,6,San Sebastián de La Gomera,36976,21 798
4,Lanzarote[nota 12]​,NaN,NaN,7,Arrecife,"888,07[nota 13]​",156 112[nota 14]​
5,La Palma,NaN,NaN,14,Santa Cruz de La Palma,70832,83 439
6,Tenerife,NaN,NaN,31,Santa Cruz de Tenerife,203438,931 646

In [5]:
print(df.columns)
#df.drop(["Bandera", "Escudo"], axis=1, inplace=True)
df = df.drop(["Bandera", "Escudo"], axis=1)
df.columns = ["Isla", "Municipios", "Capital", "Area", "Poblacion"]
df

Index(['Isla (excepto La Graciosa)', 'Bandera', 'Escudo', 'Municipios',
       'Capital', 'Área (km²)', 'Población (2022)[18]​'],
      dtype='object')

,Isla,Municipios,Capital,Area,Poblacion
0,El Hierro,3,Valverde,26871,11 423
1,Fuerteventura[nota 10]​,6,Puerto del Rosario,"1665,74[nota 11]​",120 021
2,Gran Canaria,21,Las Palmas de Gran Canaria,156010,853 262
3,La Gomera,6,San Sebastián de La Gomera,36976,21 798
4,Lanzarote[nota 12]​,7,Arrecife,"888,07[nota 13]​",156 112[nota 14]​
5,La Palma,14,Santa Cruz de La Palma,70832,83 439
6,Tenerife,31,Santa Cruz de Tenerife,203438,931 646

In [6]:
df

,Isla,Municipios,Capital,Area,Poblacion
0,El Hierro,3,Valverde,26871,11 423
1,Fuerteventura[nota 10]​,6,Puerto del Rosario,"1665,74[nota 11]​",120 021
2,Gran Canaria,21,Las Palmas de Gran Canaria,156010,853 262
3,La Gomera,6,San Sebastián de La Gomera,36976,21 798
4,Lanzarote[nota 12]​,7,Arrecife,"888,07[nota 13]​",156 112[nota 14]​
5,La Palma,14,Santa Cruz de La Palma,70832,83 439
6,Tenerife,31,Santa Cruz de Tenerife,203438,931 646