# Análise de datos con PANDAS

In [2]:
import pandas as pd

### Apertura do CSV

In [3]:

df = pd.DataFrame()

df=pd.read_csv('datos_covid2021_3paises.csv')


### Limpia valores nulos e/ou inválidos/vacíos.

In [4]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1095 non-null   int64
 1   dia         1095 non-null   object
 2   pais        1095 non-null   object
 3   contaxios   1095 non-null   int64
 4   mortes      1095 non-null   int64
dtypes: int64(3), object(2)
memory usage: 42.9+ KB

### 1. Calcula a media de novos casos ao día

In [5]:
pd.DataFrame(df.groupby('dia')['contaxios'].mean())

                contaxios
dia
2021-01-01   14713.666667
2021-01-02    2200.000000
2021-01-03    5291.000000
2021-01-04   12990.000000
2021-01-05   16312.000000
...                   ...
2021-12-27   83522.333333
2021-12-28   98719.666667
2021-12-29  109973.333333
2021-12-30  132196.666667
2021-12-31  141572.333333

[365 rows x 1 columns]

### 2. Calcula a media de mortes ao día

In [6]:
pd.DataFrame(df.groupby('dia')['mortes'].mean())

                mortes
dia
2021-01-01  115.333333
2021-01-02   76.333333
2021-01-03   63.000000
2021-01-04  232.333333
2021-01-05  436.000000
...                ...
2021-12-27  127.000000
2021-12-28  142.333333
2021-12-29   87.666667
2021-12-30   90.000000
2021-12-31   93.666667

[365 rows x 1 columns]

### 3. Calcula o número máximo de casos

In [7]:
maximo = df['contaxios'].max()
maximo

232200

### 4. Calcula o número medio de casos separado por grupos

In [8]:
pd.DataFrame(df.groupby('dia')['contaxios'].mean())

                contaxios
dia
2021-01-01   14713.666667
2021-01-02    2200.000000
2021-01-03    5291.000000
2021-01-04   12990.000000
2021-01-05   16312.000000
...                   ...
2021-12-27   83522.333333
2021-12-28   98719.666667
2021-12-29  109973.333333
2021-12-30  132196.666667
2021-12-31  141572.333333

[365 rows x 1 columns]

### 5. Existe unha correlación entre número de novos casos e mortes?

In [9]:
df[['contaxios','mortes']].corr()

# Sobre un 38.5%

           contaxios    mortes
contaxios   1.000000  0.385233
mortes      0.385233  1.000000

### 6. No caso de que exista unha relación, en que país é maior?

In [10]:
df.groupby('pais')[['contaxios','mortes']].corr()

# El país con más correlación entre contagios y muertes sobre un 56.35%

                    contaxios    mortes
pais
France   contaxios   1.000000  0.298286
         mortes      0.298286  1.000000
Portugal contaxios   1.000000  0.563438
         mortes      0.563438  1.000000
Spain    contaxios   1.000000  0.323957
         mortes      0.323957  1.000000

### 7. Cal é a mediana de casos confirmados en Portugal?

In [11]:
df[df['pais']=='Portugal']['contaxios'].median()

1186.0

### 8. Cales son os valores dos percentís Q1 e Q3 de Francia para o número de contaxios

In [12]:
dfF=df[df['pais']=='France']['contaxios']
q1=dfF.quantile(0.25)
q3=dfF.quantile(0.75)
print(f"Q1:{q1} - Q3:{q3}")

Q1:4256.0 - Q3:25087.0

### 9. Cantos valores diferentes hai para o número de contaxios nun día en cada un dos países

In [13]:
pd.DataFrame(df.groupby('pais')['contaxios'].nunique())

          contaxios
pais
France          332
Portugal        345
Spain           250

### 10. Valor mínimo e máximo de contaxios por día para cada país

In [14]:
df.groupby(['dia','pais']).contaxios.agg(['min','max'])

                        min     max
dia        pais
2021-01-01 France     19143   19143
           Portugal    6951    6951
           Spain      18047   18047
2021-01-02 France      3359    3359
           Portugal    3241    3241
...                     ...     ...
2021-12-30 Portugal   28659   28659
           Spain     161688  161688
2021-12-31 France    232200  232200
           Portugal   30829   30829
           Spain     161688  161688

[1095 rows x 2 columns]